{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuchi parolini tiklash  {% endblock title %} 

{% block content %} 

    <h1>Foydalanuchi parolini tiklash </h1>
    <p>Parolingizni tiklash uchun emailingizni quyidagi formani to'ldiring </p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Parolni almashtirish</button>
        </form>
    {% else %}
        <p>Siz noto'g'ri linkdan foydalandingiz, u avvalroq foydalanilgan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin!</p>
    {% endif %}
    


{% endblock content %} 